<!--<div class="contenedor">

    <h1>Turnero</h1>
    <app-contador></app-contador>

</div>-->
<!--<app-botones></app-botones>-->
<div class="container">
  <!-- <h1>{{title}}</h1> -->
    <!--<app-formulario></app-formulario>-->
    <!--<app-bucles></app-bucles>
    <app-switch></app-switch>-->
    <!-- <app-formulario2></app-formulario2> -->
    <!--<app-formulario3></app-formulario3> -->


    <!-- <input type="text" class="form-control" [(ngModel)]="title">
    <app-ninios [title]="title"></app-ninios> -->

    <!-- <h2>Componente padre.</h2>
    <input type="text" class="form-control" [(ngModel)]="title">
<br>

  <app-ninios [(title)]="title" [title]="title"(titleChange)="title=$event"></app-ninios> -->

  <h1>Servicios</h1>
      <app-add-message></app-add-message>
      <app-list-message></app-list-message>

</div>


